.navfront {
  background-color: #333;
  overflow: hidden;
  height: 70px; 
  padding: 0 20px; 
}

.navfront ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navfront li {
  float: left;
  margin-right: 20px; 
}

.navfront li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px; 
}

.navfront li a:hover {
  background-color: #111;
}

.navbar-logo {
  height: 100px; 
}
